body {
  text-align: justify;
  font-family:
    "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-image: url("../img-carreras/fondo-pagina.jpg");
  background-size: cover;
  background-position: center;
}

.fondo {
  background-color: #fafafad3 !important;
  margin: auto;
  margin-top: 30px;
  width: 1700px;
}

.img-quimica-industrial {
  background-color: rgba(0, 0, 0, 0.8);
  background-image: url("../img-carreras/quimica-industrial.png");
  width: 600px;
  margin-left: 199px;
  filter: brightness(0.4);
}

.fondo_texto {
  background-color: #ffffff !important;
  border-radius: 10px;
}

footer {
  background-color: #f8f9fa !important;
}

li {
  text-decoration: none;
}
