body {
  text-align: justify;
  font-family:
    "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-image: url("../img-institucional/fondo-pagina.jpg");
  background-size: cover;
  background-position: center;
}

.fondo {
  background-color: #fafafad3 !important;
  margin: auto;
  margin-top: 30px;
  width: 1700px;
}

.fondo_texto {
  background-color: #ffffff !important;
  border-radius: 10px;
}

.fondo_texto_titulo_principal {
  background-color: #ffffff !important;
  border-radius: 10px;
  width: 50%;
  margin: auto;
}

.fondo_texto_subtitulo_principal {
  background-color: #ffffff !important;
  border-radius: 10px;
  width: 280px;
  margin: auto;
}

footer {
  background-color: #f8f9fa !important;
}

.fondo_texto-Mision-vision {
  background-color: #ffffff !important;
  border-radius: 10px;
  width: 650px;
  margin: auto;
}

.fondo_texto-mision {
  background-color: #ffffff !important;
  border-radius: 10px;
  width: 530px;
  text-align: center;
}

.fondo_texto-Mision-autoridades {
  background-color: #ffffff !important;
  border-radius: 10px;
  width: 330px;
  margin: auto;
  text-align: center;
}

.card-body {
  height: 160px;
}
